.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.TodoItem input {
  width: 18px;
  height: 18px;
}

.TodoItem .content {
  flex: 1;
}

.TodoItem .date {
  font-size: 14px;
  color: gray;
}

.TodoItem button {
  border: none;
  background: none;
  color: gray;
  cursor: pointer;
}
