.TodoList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.TodoList > input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}

.TodoList > input:focus {
  border-bottom: 1px solid rgb(37, 147, 255);
}

.TodoList .todos_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
